html {
    font-size: 22px;
    
}

body {
    background-color: rgb(239, 194, 15);
    color:rgb(237, 8, 8);
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
    a {
        color: rgb(33, 139, 6)
       }
       a:visited {
        color: rgb(63, 0, 253)
       }
    
       a:hover, a:active {
        color: lawngreen
       }
    


th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}
